/* DataInput.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
  
  .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0 !important;
  }
  
  
  